/*? COLOR PALETTE */
/* customs */
:root{
    --cs-orange:#cd3d0f;
    --cs-blue: #0070d1;
    --cs-dark-blue: #161c3b;
    --cs-blue-footer: #00439c;
    --cs-black: #1f1f1f;
    --cs-grey: #bebcbb;
    --cs-light-grey: #d9dadc;
    --cs-grey-text: #727272;

    /*! bootstrap */
    --bs-body-font-size: 1.2rem;
}

/** UTILS */
.wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.brd {
    border: 1px dashed black;
}
.cs-bg-blue {
    background-color: var(--cs-blue);
}
.cs-bg-dark-blue{
    background-color: var(--cs-dark-blue);
}
.cs-bg-blue-footer {
    background-color: var(--cs-blue-footer);
}
.cs-bg-orange {
    background-color: var(--cs-orange);
}
.cs-bg-black {
    background-color: var(--cs-black);
}
.cs-bg-grey {
    background-color: var(--cs-grey);
}
.cs-bg-light-grey {
    background-color: var(--cs-light-grey);
}
.text-cs-grey {
    color: var(--cs-grey-text);
}
.text-cs-blue {
    color: var(--cs-blue)
}
.lbg-brown {
    background-color: brown;
}
.lbg-wood {
    background-color:burlywood;
}
.lbg-blue {
    background-color:cadetblue;
}
.pt-section {
    padding-top: 80px;
}
.info-box {
    color:white;
    padding-bottom: 50px;
}

/** GENERICS */
h5 {
    color: var(--cs-blue);
    font-size: 1rem;
}
p {
    line-height: 1.5rem;
}
address {
    font-size: 1rem;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
figure {
    margin-bottom: 0;
}
a.btn {
    color:white;
}
.jumbo {
    background-position: top center;
    background-size: cover;
}
.cs-rounded {
    border-radius: 20px;
}
.img-title {
    max-width: 320px;
}

/** MAIN */
/* Header */
header {
    min-height: 100px;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    right:0;
}
.top-header {
    min-height: 35px;
}
.top-header figure {
    min-width: 100px;
}

/* main-jumbotron */
#main-jumbo > .jumbo {
    background-image: url('../img/jumbo-bg.png');
}
#main-jumbo .info-box {
    padding-top: 280px;
}
img.jumbo-title{
    width: 260px;
    height: auto;
}
.thumbs li {
    min-width: 160px;
    height: auto;
}

/* PlayStation 5 */
#playstation5 .thumbs:first-child {
    border-bottom: 2px solid var(--cs-blue);
}

/* New release jumbo */
#new-release > .jumbo {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}
#new-release,
#new-release a {
    color: white;
    text-decoration: none;
}
#new-release .row > .col {
    min-height: 200px;
}

/* PlayStation Plus */
#playstation-plus .games {
    display: none;
    padding: 0;
    margin: 0 auto;
    /*! da centralizzare */
}
#playstation-plus a.btn {
    color: var(--cs-blue);
}

/* PlayStation Now  */
#playstation-now a.btn {
    color: black;
}
#playstation-now .games {
    display: none;
    padding: 0;
    margin: 0 auto;
    /*! da centralizzare */
}

/* Social Media */
#social img {
    width: 100%;
}

/** FOOTER */
footer {
    color: white;
}
footer .icon {
    width: 25px;
}
footer address {
    margin-bottom: 0;
    padding-left: 10px;
}
.ps-logo {
    height: 75px;
}
footer a {
    color: white;
    text-decoration: none;
}
.sie-logo {
    width: 140px;
}

/** RESPONSIVE */
/* md screen */
@media screen and (min-width: 768px) {
    #playstation-plus .games,
    #playstation-now .games {
        display: block;
    }
    img.jumbo-title{
        width: 380px;
        height: auto;
    }
}

/* lg screen */
@media screen and (min-width: 992px) {
    img.jumbo-title{
        width: 210px;
        height: auto;
    }
}