/** UTILS */
.brd {
    border: 1px dashed black;
}
.lbg-brown {
    background-color: brown;
}
.lbg-wood {
    background-color:burlywood;
}
.lbg-blue {
    background-color:cadetblue;
}
.pt-250 {
    padding-top: 250px;
}

/** GENERICS */
ul {
    padding-left: 0;
}
li {
    list-style: none;
}
header {
    min-height: 100px;
}
img {
    height: 100%;
    width: auto;
}
#playstation-plus figure,
#playstation-now figure {
    margin-bottom: 0;
}

/** MAIN */
/* Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    right:0;
}

/* Jumbotron */
#jumbotron .row {
    min-height: 600px;
}
/* #jumbotron .row:first-child::before {
    content:'';
    height:300px;
} */

/* New release */
#new-release {
    color: white;
}
#new-release .row > .col {
    min-height: 200px;
}

/* PlayStation Plus */
#playstation-plus .games {
    height: 300px;
    display: none;
}

/* PlayStation Now  */
#playstation-now .games {
    height: 300px;
    display: none;
}

/* Social Media */
#social img {
    width: 100%;
}

/** FOOTER */
footer {
    color: white;
}

/** RESPONSIVE */
/* md screen */
@media screen and (min-width: 768px) {
    #playstation-plus .games {
        display: block;
    }
    #playstation-now .games {
        display: block;
    }
}